{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": ["error"]
    }
  }
  /*
      "editor.formatOnSave": true in settings.json
      install extensions Eslint, Prettier
  */